.task {
  justify-content: center;
}

.task header {
  background: transparent;
}

.task form {
  gap: 0.5rem;
  display: flex;
}

.task textarea {
  width: 100%;
  background: var(--gray-500);
  border: 0;
  resize: none;
  height: 54px;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  padding: 1rem;
  overflow: hidden;
}

.task button[type=submit] {
  display: flex;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 0;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-weight: bold;
  cursor: pointer;
  gap: 0.5rem;
  align-items: center;

  transition: background-color 0.1s;
}

.task  button[type=submit]:not(:disabled):hover {
  background: var(--blue);
}

.taskList header {
  display: flex;
  margin: 91px auto 24px;
  background: transparent;
  justify-content: space-between;
}


.taskList header p {
  color: var(--blue);
  font-weight: bold;
  font-size: 0.875rem;
}

.taskItem {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  justify-content: space-between;
  background: var(--gray-500);
  margin-bottom: 0.75rem;
  padding: 1rem;
  border-radius: 8px;
}

.taskItemPCompleted {
  line-height: 1.4;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray-300);
  margin: 0 0.5rem;
  text-decoration: line-through;
}

.taskItemPNotCompleted {
  line-height: 1.4;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray-100);
  margin: 0 0.5rem;
}

.taskCheckIsComplete {  
  background: var(--blue-dark);
  border-radius: 50%;
  /* 
  padding: 4px; */
}

.circle:hover {
  background-color: rgba(130, 132, 250, 0.1);
  color: var(--blue-dark);
  border-radius: 50%;
}


.taskTrashButton {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 4px;
  padding: 4px;
}

.taskTrashButton:hover {
  color: var(--danger);
  background: var(--gray-400);
  border-radius: 4px;
  padding: 4px;
}


/* .commentForm footer {
  visibility: hidden;
  max-height: 0;
} */